body {
  overflow-x: hidden;
}
.event-text {
  gap: 30px;
  width: 100%;
  div {
    flex: calc(100% - 300px);
  }
  p {
    a.map-btn {
      text-decoration: none;
      display: inline-block;
      margin-left: 15px;
    }
  }
}
.event {
  .title:first-child {
    margin-right: 0;
  }
}
.past-event-text {
  gap: 30px;
  width: 100%;
  justify-content: space-between;
  .button {
    width: auto;
    min-width: 170px;
  }
}
.past h2 {
  margin-top: 100px;
}
.footer-content {
  width: 100%;
  max-width: 1590px;
  margin: 0px auto;
}
@media (max-width: 1880px) {
  .container, .footer-content {
    max-width: 1260px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
  }
  .header {
    height: 100px;
  }
  .nav a {
    margin-right: 0;
  }
  .nav a.logotype {
    height: 50px;
    img {
      max-height: 100%;
      width: auto
    }
  }
  .header-content {
    max-width: 1260px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
  }
  .app .title:first-child {
    margin-right: 0;
    display: flex;
    gap: 30px;
    .fullscreen__content {
      width: 60%;
      flex: 0 0 60%;
      h1 {
        font-size: 60px;
        line-height: normal;
        width: 100%;
      }
    }
  }
  img {
    max-width: 100%;
  }
  .events {
    .event {
      position: relative;
      .event-av {
        left: 0;
      }
      .event-text h3 {
        font-size: 36px;
      }
    }
  }
  .past {
    position: relative;
    .past-events-av {
      left: 0;
    }
  }
  footer {
    .footer-content {
      margin: 0 auto;
    }
    .links {
      width: auto;
    }
  }
}
#top_menu_check {
  display: none;
}
.top-menu-btn {
  display: none;
}
.sm-menu {
  display: none;
}
@media (max-width: 767px) {
  .top-menu-btn {
    display: block;
    width: 54px;
    height: 40px;
    background: url("assets/menu_sm.svg") center no-repeat;
    margin-top: 15px
  }
  .no-sm {
    display: none;
  }
  .sm-menu {
    position: fixed;
    top: 0;
    left: 110vw;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    padding: 120px 30px;
    box-sizing: border-box;
    background: #000;
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease-out;
    align-items: center;
    a {
      margin-bottom: 30px;
    }
  }
  #top_menu_check:checked + .header-content .sm-menu {
    left: 0;
  }
  #top_menu_check:checked + .header-content .top-menu-btn {
    background: url("assets/menu_sm_close.svg") center right no-repeat;
    background-size: contain;
  }
  .gallery h2, .events h2, .past h2, .faq, .app {
    margin-top: 0;
    padding-top: 200px;
  }
  .faq h2:last-of-type, .events {
    margin-top: 0;
  }
  .header {
    height: 0;
  }
  .app .title:first-child {
    gap: 10px;
    flex-direction: column-reverse;
  }
  .app .title:first-child .fullscreen__content {
    width: 100%;
    flex: 0 0 100%;
  }
  .app .title:first-child .fullscreen__content h1 {
    font-size: 28px;
    font-weight: 800;
    line-height: 33.6px;
    text-align: center;
  }
  .title > div > p {
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.36px;
    text-align: center;
  }
  .events h2 {
    font-size: 30px;
    font-weight: 600;
    line-height: 36px;
    text-align: center;
  }
  .events .event .event-av {
    position: relative;
    width: 100%;
  }
  .event .title:first-child {
    flex-direction: column;
    gap: 20px;
  }
  .event-text {
    margin: 0;
    flex-direction: column;
    .button {
      width: 100%;
    }
    .event-price-btn {
      width: 100%;
      display: block;
    }
  }
  .events .event .event-text h3 {
    font-size: 30px;
    font-weight: 800;
    line-height: 36px;
  }
  .event-text p {
    font-size: 30px;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 20px;
    width: 100%;
  }
  .grid .image:nth-child(1) {
    grid-area: 1 / 1 / 3 / 3;
  }
  .grid .image:nth-child(2) {
    grid-area: 3 / 1 / 4 / 2;
  }
  .grid .image:nth-child(3) { grid-area: 3 / 2 / 4 / 3; }
  .grid .image:nth-child(4) { grid-area: 4 / 1 / 5 / 2; }
  .grid .image:nth-child(5) { grid-area: 4 / 2 / 5 / 3; }
  .gallery h2, .past h2, .faq h2 {
    font-size: 45px;
    font-weight: 600;
    line-height: 54px;
    text-align: center;
  }
  .past-events {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    box-sizing: border-box;
    justify-content: space-between;
    .past {
      box-sizing: border-box;
      width: calc(50% - 10px);
      flex: 0 0 calc(50% - 10px);
      flex-direction: column;
      .past-event-text {
        >div {
          display: none;
        }
      }
    }
    .event-price-btn {
      display: block;
      width: 100%;
    }
    .past-event-text .button {
      height: 45px;
      min-width: 0;
      width: 100%;
    }
  }
  .questions {
    flex-direction: column;
    gap: 20px;
    div {
      flex: 0 0 100%;
      p:last-child {
        margin-bottom: 0;
      }
    }
  }


  footer .footer-content {
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px 15px;
    .links {
      display: none;
    }
    .footer-main h2 {
      font-size: 30px;
      line-height: normal;
    }
    .footer-main p {
      font-size: 22px;
      line-height: normal;
    }
    .footer-main h4 {
      display: none;
    }
    .social-links {
      display: none;
    }
    .logot {
      img {
        height: 50px;
        width: auto;
        margin-top: 0;
      }
    }
  }
}