:root {
    /* Sizes & Fonts */

    --border-radius-2: 24px;
    --border-radius-3: 12px;
    --border-radius: 36px;

    --border-size: 1px solid;
    --border-size-2: 2px solid;

    --font-sizee: 69px;
    --font-size: 54px;
    --font-size-2: 50px;
    --font-size-3: 48px;
    --font-size-4: 32px;
    --font-size-5: 24px;
    --font-size-6: 22px;
    --font-size-7: 20px;
    --font-size-8: 18px;
    --font-size-9: 16px;
    --font-size-10: 14px;
    --font-size-11: 12px;

    --width: 90%;

    --max-width: 1280px;

    --transition: 0.3s;

    --blur: 24px;

    --opacity: 0.8;
    --opacity-2: 0.5;

    --padding: 96px;
    --padding-2: 64px;
    --padding-3: 32px;
    --padding-4: 25px;
    --padding-5: 18px;
    --padding-6: 14px;
    --padding-7: 12px;
    --padding-8: 6px;

    --header: 85px;

    --cell-size: 32;

    /* Pallete */

    --background: #000000;
    --background-2: #0A0A0A;
    --background-3: #1a1a1a;

    --background-alternative: #EDEDED;

    --background-transparent: #2e2e2e;

    --text: #EDEDED;
    --text-2: #959595;
    --text-3: #7B7B7B;
    --text-4: #303030;
    --text-5: #606060;
    --text-b: #000000;

    --border: #1F1F1F;
    --border-2: #3D3D3D;
    --border-4: #ededed;
    --border-3: #FFFFFF20;
}

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@font-face {
    font-family: 'TildaSans';
    font-style: normal;
    font-weight: 250 1000;
    src: url('https://static.tildacdn.com/fonts/tildasans/TildaSans-VF.woff2') format('woff2-variations'),
         url('https://static.tildacdn.com/fonts/tildasans/TildaSans-VF.woff') format('woff-variations');     
  }
  @font-face {
    font-family: 'TildaSans';
    font-style: normal;
    font-weight: 300;
    src: url('https://static.tildacdn.com/fonts/tildasans/TildaSans-Light.eot');
    src: url('https://static.tildacdn.com/fonts/tildasans/TildaSans-Light.eot?#iefix') format('embedded-opentype'),
         url('https://static.tildacdn.com/fonts/tildasans/TildaSans-VF.woff2') format('woff2-variations'),
         url('https://static.tildacdn.com/fonts/tildasans/TildaSans-VF.woff') format('woff-variations'),
         url('https://static.tildacdn.com/fonts/tildasans/TildaSans-Light.woff2') format('woff2'),
         url('https://static.tildacdn.com/fonts/tildasans/TildaSans-Light.woff') format('woff');
  }
  @font-face {
    font-family: 'TildaSans';
    font-style: normal;
    font-weight: 400;
    src: url('https://static.tildacdn.com/fonts/tildasans/TildaSans-Regular.eot');
    src: url('https://static.tildacdn.com/fonts/tildasans/TildaSans-Regular.eot?#iefix') format('embedded-opentype'),
         url('https://static.tildacdn.com/fonts/tildasans/TildaSans-VF.woff2') format('woff2-variations'),
         url('https://static.tildacdn.com/fonts/tildasans/TildaSans-VF.woff') format('woff-variations'),  
         url('https://static.tildacdn.com/fonts/tildasans/TildaSans-Regular.woff2') format('woff2'),
         url('https://static.tildacdn.com/fonts/tildasans/TildaSans-Regular.woff') format('woff');
  }
  @font-face {
    font-family: 'TildaSans';
    font-style: normal;
    font-weight: 500;
    src: url('https://static.tildacdn.com/fonts/tildasans/TildaSans-Medium.eot');
    src: url('https://static.tildacdn.com/fonts/tildasans/TildaSans-Medium.eot?#iefix') format('embedded-opentype'),
         url('https://static.tildacdn.com/fonts/tildasans/TildaSans-VF.woff2') format('woff2-variations'),
         url('https://static.tildacdn.com/fonts/tildasans/TildaSans-VF.woff') format('woff-variations'),  
         url('https://static.tildacdn.com/fonts/tildasans/TildaSans-Medium.woff2') format('woff2'),
         url('https://static.tildacdn.com/fonts/tildasans/TildaSans-Medium.woff') format('woff');
  }
  @font-face {
    font-family: 'TildaSans';
    font-style: normal;
    font-weight: 600;
    src: url('https://static.tildacdn.com/fonts/tildasans/TildaSans-Semibold.eot');
    src: url('https://static.tildacdn.com/fonts/tildasans/TildaSans-Semibold.eot?#iefix') format('embedded-opentype'),
         url('https://static.tildacdn.com/fonts/tildasans/TildaSans-VF.woff2') format('woff2-variations'),
         url('https://static.tildacdn.com/fonts/tildasans/TildaSans-VF.woff') format('woff-variations'),  
         url('https://static.tildacdn.com/fonts/tildasans/TildaSans-Semibold.woff2') format('woff2'),
         url('https://static.tildacdn.com/fonts/tildasans/TildaSans-Semibold.woff') format('woff');
  }
  @font-face {
    font-family: 'TildaSans';
    font-style: normal;
    font-weight: 700;
    src: url('https://static.tildacdn.com/fonts/tildasans/TildaSans-Bold.eot');
    src: url('https://static.tildacdn.com/fonts/tildasans/TildaSans-Bold.eot?#iefix') format('embedded-opentype'),
         url('https://static.tildacdn.com/fonts/tildasans/TildaSans-VF.woff2') format('woff2-variations'),
         url('https://static.tildacdn.com/fonts/tildasans/TildaSans-VF.woff') format('woff-variations'),  
         url('https://static.tildacdn.com/fonts/tildasans/TildaSans-Bold.woff2') format('woff2'),
         url('https://static.tildacdn.com/fonts/tildasans/TildaSans-Bold.woff') format('woff');
  }
  @font-face {
    font-family: 'TildaSans';
    font-style: normal;
    font-weight: 800;
    src: url('https://static.tildacdn.com/fonts/tildasans/TildaSans-Extrabold.eot');
    src: url('https://static.tildacdn.com/fonts/tildasans/TildaSans-Extrabold.eot?#iefix') format('embedded-opentype'),
         url('https://static.tildacdn.com/fonts/tildasans/TildaSans-VF.woff2') format('woff2-variations'),
         url('https://static.tildacdn.com/fonts/tildasans/TildaSans-VF.woff') format('woff-variations'),  
         url('https://static.tildacdn.com/fonts/tildasans/TildaSans-Extrabold.woff2') format('woff2'),
         url('https://static.tildacdn.com/fonts/tildasans/TildaSans-Extrabold.woff') format('woff');
  }
  @font-face {
    font-family: 'TildaSans';
    font-style: normal;
    font-weight: 900;
    src: url('https://static.tildacdn.com/fonts/tildasans/TildaSans-Black.eot');
    src: url('https://static.tildacdn.com/fonts/tildasans/TildaSans-Black.eot?#iefix') format('embedded-opentype'),
         url('https://static.tildacdn.com/fonts/tildasans/TildaSans-VF.woff2') format('woff2-variations'),
         url('https://static.tildacdn.com/fonts/tildasans/TildaSans-VF.woff') format('woff-variations'),  
         url('https://static.tildacdn.com/fonts/tildasans/TildaSans-Black.woff2') format('woff2'),
         url('https://static.tildacdn.com/fonts/tildasans/TildaSans-Black.woff') format('woff');
  }
  
/* Generated by ParaType (http://www.paratype.com)*/
/* Font Tilda Sans Extra Bold: Copyright (c) ParaType, 2022. All rights reserved.*/

@font-face {
	font-family: 'TildaSansExtraBold';
	src: url('TildaSans-ExtraBold.eot');
	src:
	     url('TildaSans-ExtraBold.eot?#iefix') format('embedded-opentype'),
	     url('TildaSans-ExtraBold.woff2') format('woff2'),
	     url('TildaSans-ExtraBold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
/*ОБЩИЕ НАСТРОЙКИ */
body{
    font-family: "TildaSans",sans-serif;
    color-scheme: dark;
    color: var(--background-transparent);
    scroll-behavior: smooth;
    text-rendering: optimizelegibility;
    font-weight: 700;

    font-size: var(--font-size-5);
    background-color: var(--background-3);
}
::selection {
    background: var(--text); /* Цвет фона */
    color: var(--background); /* Цвет текста */
   }


html,body {
    height: 100%;
}

.bg{
    z-index: -1;
    filter: blur(0px);
}

a {
    cursor: pointer;
    text-decoration: none;
    color: var(--text);
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

.container {
    width: 100%;
    max-width: 1332px;
    margin: 0px auto;
}
.header {
    max-width: 100%;
    background: linear-gradient(to bottom, var(--background), var(--background-3));
    
    height: 15vh;
}


/* НАВИГАЦИЯ */
.wrapper {
    display: flex;
    list-style: none;
  }
  
  .wrapper a{
    color: inherit;
  }
  
  @import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
  *:focus,
  *:active {
    outline: none !important;
    -webkit-tap-highlight-color: transparent;
  }
  
  .wrapper i{
    scale: 2.05;
  }

  .wrapper .icon {
    color: var(--text-3);
    position: relative;
    background: #ffffff;
    border-radius: 50%;
    padding: 15px;
    margin: 10px;
    width: 25px;
    height: 25px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #ffffff;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s ;
  }
  
  .wrapper .tooltip::before {
    position: absolute;
    content: "";
    width: 8px;
    background: #ffffff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .icon:hover .tooltip {
    top: 45px;
    opacity: 1;
  }
  
  .wrapper .icon:hover span,
  .wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
  }
  
  
  .wrapper .telegram{
    transition: 0.9s;
  
  }
  .wrapper .telegram:hover{
    transform: scale(1.3);
  }
  
  .wrapper .telegram:hover,
  .wrapper .telegram:hover .tooltip,
  .wrapper .telegram:hover .tooltip::before {
    background: #1877f2;
    color: #ffffff;
  
  }

.pip a {
	position: relative;
	color: --text; /*задаём цвет ссылки*/
	cursor: pointer;
	line-height: 1.2; /*задаём высоту строки*/
	text-decoration: none; /*убираем подчёркивание*/

}
.pip a:after {
	display: block;
	position: absolute;
	left: 0; /*изменить на right:0;, чтобы изменить направление подчёркивания */
	width: 0;/*задаём длинну линии до наведения курсора*/
	height: 3px; /*задаём ширину линии*/
	background-color: var(--text); /*задаём цвет линии*/
    border-radius: 40px;
	content: "";
	transition: width 0.3s ease-out; /*задаём время анимации*/
    
}

.pip a:hover:after,
.pip a:focus:after {
	width: 100%; /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
    color:var(--text);
}

.pip{
    transition: 0.6s;
}

.pip a:hover{
    transform: translateY(-10px);
}


.nav {
    position: fixed;
    font-family: "Rubik", sans-serif;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    backdrop-filter: blur(16px); 
    display: inline-flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;

    border-bottom: var(--border-size-2) var(--text-4);

}

.nav a {
    display: inline-block;
    margin-top: 16px;
    font-size: var(--font-size-6);
    font-weight: 650;
    color: var(--text-2);
    border: none;
    border-radius: 45px;
    transition: all 0.5s ease 0s;
    cursor: pointer;
    outline: none;

    margin-right: 60px;

}
.logotype{
    height: 10vh;
}
.nav a:hover {
    color: var(--text);
    transform: translateY(-5px);
}

.mapp {
    color: var(--text);
    width: 1200px;
}

.logot img{
    max-width: 15%;
}

.yt{
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;

}
iframe:not(:first-child) {
    margin-left: 10px;
  }
  
.header-content{
    color: var(--text);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;

    font-weight: 800;
}

.main-ph{
    max-width: 100%;
}

/* MAIN */

.fullscreen{
    position: relative;
    min-height: 100vh;
}

.fullscreen__title{
    transition: translate(0px,100%);
    opacity: 0;
    transition: all 1.8s ease 0s;
}

.fullscreen__title._active{
    transform: translate(0px, 0px);
    opacity: 1;
}

.fullscreen__text{
    transition: translate(0px,120%);
    opacity: 1;
    transition: all 1.8s ease 0s;
}

.fullscreen__title._active{
    transform: translate(0px, 0px);
    opacity: 1;
    transition: all 1.8 ease 0.4s;
}

.main-target{
    font-size: 0px;
    color: 949494;
}

.title{
    margin-top: 50px;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

/*.title:first-child{
    margin-right: 190px;
}*/



.title img{
    border-radius: 15px;

    transition: 0.4s;
}

.title img:hover{
    transform: scale(1.03);
}

.title div h1{
    font-size: var(--font-sizee);
    font-weight: 1000;
    line-height: 80px;
    color: var(--text);
    margin-bottom: 10px;
    width: 810px;
}

.title p{
    color:var(--text-5);
    font-size: var(--font-size-5);
    line-height: 25px;
    margin-bottom: 20px;
    font-weight: 600;
    width: 660px;
}

.title a{    
        font-size: var(--font-size-6);
        font-weight: 650;
        color: var(--text-2);
        background-color: var(--background-3);
        border: none;
        border-radius: 45px;
        transition: all 0.3s ease 0s;
        cursor: pointer;
        outline: none;

    color:var(--text-5) ;
    text-decoration: underline;
}

    
.title a:hover {
    background-color: var(--background-3);
    color: var(--text);
}


/* EVENTS */

.events{
    margin-top: 150px;
}
.events h2{
    color: var(--text);
    text-decoration: underline;
    font-size: var(--font-size-2);
    font-weight: 650;
    margin-bottom: 30px;
}

.event-av {
    position: absolute;
    left: 300px;
}

.event-text p:first-child {
    font-size: var(--font-size-4);
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--text);
}

.event-text{
    display: flex;
    align-items: center;
    margin-left: 330px;
    margin-bottom: 15px;
}

.event-text h3{
    font-size: var(--font-size-3);
    font-weight: 900;

    color: transparent;    
	-webkit-background-clip: text;
	background-clip: text;
	background-image: linear-gradient(to bottom, #E2E4EE, #575757);


}

.event-text p{
    font-size: var(--font-size-4);
    color: var(--text);
}

.event-text span{
    color: var(--text-5);
}

.event-text > div > p:nth-of-type(1) > span{
    font-size: var(--font-size-5);
}

.wrap {
    position: absolute;
    left: 1300px;
    top: 300px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    width: 300px;
    height: 60px;
    font-size: var(--font-size-6);
    font-weight: 790;
    color: var(--text-b);
    background-color: var(--text);
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.button:hover {
    background-color: #189ef2;
    box-shadow: 0px 25px 30px rgba(46, 174, 229, 0.4);
    color: white;
    transform: translateY(-7px);
}

/* .toxis{
    magin-top:50px;
 } */


 
.map{
    font-size: 500px;
    top: 768px;
    position: absolute;
    left: 760px;
    display: flex;
    align-items: center;
}

.map a{
    color: var(--text-4);
    text-decoration: none;   
}

.adv{
    color: var(--text);
    font-size: 34px;
}

.adv a{
    color: var(--border-4);
    text-decoration: underline;
}

.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .div1 { grid-area: 1 / 1 / 2 / 2; }
    .div2 { grid-area: 1 / 3 / 2 / 4; }

/* GALLERY */

.gallery h2{
    margin-top: 150px;
    color: var(--text);
    text-decoration: underline;
    font-size: var(--font-size-2);
    font-weight: 650;
    margin-bottom: 30px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 20px;
    width: 100%;/*1300px;*/
  }
  .grid .image {
    transition: 0.4s;

    display: block;
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius-3);
    overflow: hidden;
  }
  .grid .image:nth-child(1) {
    grid-area: 1/1/3/3;
  }
  .grid .image:nth-child(2) {
    grid-area: 1/3/2/5;
  }
  .grid .image:nth-child(3) {
    grid-area: 1/5/2/6;
  }
  .grid .image:nth-child(4) {
    grid-area: 2/3/3/4;
  }
  .grid .image:nth-child(5) {
    grid-area: 2/4/3/6;
  }
  .grid .image img {
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .grid .image:hover {
    overflow: hidden;
    transform: scale(1.04);
  }

/* PAST EVENTS */

.past{
    margin-top: 30px;
    display: flex;
    gap: 30px;
}
.past h2{
    color: var(--text);
    text-decoration: underline;
    font-size: var(--font-size-2);
    font-weight: 650;
}



.past-events-av{
    width: 300px;
    height: 225px;
    border-radius: 10px;
}
.past-event-text p:first-child {
    font-size: var(--font-size-5);
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--text);
}

.past-event-text{
    display: flex;
    align-items: center;
    /*margin-left: 330px;
    margin-top: 25px;*/
}

.past-event-text h3{
    font-size: var(--font-size-3);
    font-weight: 800;
    font-style: oblique -20deg;
    color: transparent;    
	-webkit-background-clip: text;
	background-clip: text;
    background-image: linear-gradient(to bottom, #f0f0f0, #d0d0d0, #a8a8a8);
}

.past-event-text p{
    font-size: var(--font-size-4);
    color: var(--text);
}

.past-event-text span{
    color: var(--text-3);
}

.past-event-text > div > p:nth-of-type(1) > span{
    font-size: var(--font-size-5);
}



/* FAQ */

.faq {
    margin-top: 100px;
    margin-bottom: 80px;
}

.faq h2 {
    font-size: var(--font-size-2);
    font-weight: 650;
    margin-bottom: 20px;
    text-decoration: underline;
    color: var(--text);
}

.faq h2:last-of-type {
    margin-bottom: 15px;
    margin-top: 80px;
}


.questions {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

.questions div {
    padding: var(--padding-5);
    color: var(--text);
    border: var(--border-size-2) var(--text-4);
    border-radius: var(--border-radius-2);
    margin-right: 20px;
}

.questions a{
    color: var(--text-2);
    text-decoration: underline;
}
.questions a:hover{
    color: var(--text);
    text-decoration: underline;
}

.questions a:last-child{
    margin-top: -5px;
    font-size: var(--font-size-5);
}

.questions div p {
    font-size: var(--font-size-5);
    font-weight: 400;
    line-height: 21.79px;
    color: var(--text-2);
    margin-bottom: 35px;
}


/* FOOTER */
footer {

background-color: #131313;

}


.footer-content{
    background-color: #131313;
    padding: 40px 0px 00px 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-content img{
    margin-top: 30px;
}

.footer-main h2{
    text-decoration:none;
    color: var(--text);
    line-height: 50px;
    font-size: 2.6rem;
}

.footer-main p{
    color: var(--text-2);
    font-size: 1.8rem;
    margin-bottom:105px;
}

.footer-main h4{
    color: var(--text-5);
}

.social-links img{
margin-right: 16px;
transform: scale(1.3);
}



.links h6{
    font-size:4px;
}

.links h2{
    color:var(--text);
}
.links span{
    margin-top:15px;
}
.links{
    display: flex;
    flex-direction: column;
    width: 350px;
}

.links p{
    font-size: 1.9rem;
    font-weight: 600;
    color: var(--text);
}
.links a{
    font-size: 1.2rem;
    text-decoration: none;
    margin-top:20px;
    font-weight: 600;
    color:#dbd8e3;
    transition: 0.5s all;
}

.links h3:last-of-type{
    text-decoration:underline;
}

.links h4{
    color:red;
}

.links a:hover{
    color: #303035;
}

#popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
  }
  
  #popup {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ededed;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }


 
/* Общие стили для больших экранов */
.header-content .menu {
    display: flex;
    gap: 20px;
}

.burger-menu {
    display: none;
}

@media (max-width: 768px) {
    /* Скрытие меню по умолчанию на мобильных */
    .menu {
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        background-color: rgba(26, 26, 26, 0.9); /* Прозрачный фон */
        opacity: var(--background-3);
        width: 250px;
        height: 100vh;
        box-shadow: -5px 0 20px rgba(0, 0, 0, 0.1);
        padding-top: 60px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: transform 0.3s ease;
        transform: translateX(100%);
    }

    /* Бургер-меню */
    .burger-menu {
        display: block;
        cursor: pointer;
        z-index: 10;
    }

    .burger-line {
        display: block;
        width: 30px;
        height: 3px;
        background-color: var(--text);
        margin: 6px auto;
        transition: transform 0.3s ease, opacity 0.3s ease;
    }

    /* Стиль бургера при открытии */
    .burger-menu.open .burger-line:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }

    .burger-menu.open .burger-line:nth-child(2) {
        opacity: 0;
    }

    .burger-menu.open .burger-line:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
    }

    /* Открытие меню */
    .menu.open {
        transform: translateX(0);
    }

    /* Стили ссылок в меню */
    .menu a {
        text-decoration: none;
        color: var(--text);
        padding: 15px;
        font-size: 20px;
        width: 100%;
        text-align: center;
        transition: background-color 0.3s ease;
    }

    .menu a:hover {
        background-color: #f1f1f1;
    }
}
